VITE_SUPABASE_URL=https://vlnqodpfvloxcvzlzucn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsbnFvZHBmdmxveGN2emx6dWNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2ODUzOTgsImV4cCI6MjA4MDI2MTM5OH0.fW_Sh7cQGTXRUSmg5hQ-BWiHtk7pFru15jJyraKP1_E

