NODE_ENV=development
PORT=4000
GLOBAL_PREFIX=api
CORS_ORIGIN=http://localhost:5173

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eclipse
SUPABASE_URL=https://vlnqodpfvloxcvzlzucn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsbnFvZHBmdmxveGN2emx6dWNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2ODUzOTgsImV4cCI6MjA4MDI2MTM5OH0.fW_Sh7cQGTXRUSmg5hQ-BWiHtk7pFru15jJyraKP1_E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsbnFvZHBmdmxveGN2emx6dWNuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDY4NTM5OCwiZXhwIjoyMDgwMjYxMzk4fQ.qSwTMtml-86Ko-4Q9eE-NEnQDoO7fd2lOKa3b3oguKc
